* {
    padding: 0;
    margin: 0;
    /* border: 1px solid #000; */
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    height: 100vh;
}


.navleft{
    background-color: rgb(68, 146, 255);
    color: #FFFFFF;
    padding: 10px;
}



img[src="acc.svg"], img[src="accwhite.svg"], img[src="search.svg"] {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    align-items: center;
}

.navleft a{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 40px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.searching{
    display: flex;
    align-items: center;
    width: 60%;
    justify-items: left;
    justify-content: end;
    align-self: flex-end;
}

.username{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}

.searchbar input[type=text] {
    border: none;
    font-size: 17px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: rgb(223, 223, 223);
    padding-left: 20px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
  }

.searchbar {
    min-width: 100px;
    flex: 1;
    margin-left: 10px;
}


button {
    background-color: rgb(68, 146, 255);
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.navprojects{
    display: flex;
    gap: 20px;
}

.header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar-links, .nav-bar-settings{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}


.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.intro-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo{
    display: flex;
    height: 50px;
}

#bigprofile{
    height: 75px;
}

.arena{
    background-color: rgb(236, 240, 242);
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    padding: 20px;
}

.ann-container{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}

hr {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
